.title {
  text-align: left;
  margin-left: 40px;
}
.countBtn {
  background-color: rgb(214, 214, 214);
  border-radius: 2px;
  margin: 2px;
}
.cart-title {
  font-size: 18px;
  font-weight: 800;
  padding: 4px;
}
.card-title-row {
  display: flex;
  align-items: center;
}
.cart-card {
  text-align: left;
  border-radius: 16px;
  width: 80%;
  margin: 20px;
  height: auto;
  padding: 10px;
}

.CartBar {
  display: flex;
  width: 80%;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
